package rows

import (
	"github.com/turbot/tailpipe-plugin-sdk/enrichment"
)

type {{ .Name | toPascalCase }} struct {
	enrichment.CommonFields

	// TODO add fields
}

// TODO optional - implement if row struct should implement the table.MapInitialisedRow interface
// InitialiseFromMap initializes the struct from a map of string values
//func (l *{{ .Name | toPascalCase }}) InitialiseFromMap(m map[string]string) error {
//	for fieldName, value := range m {
//		// populate the struct fields from the map
//	}
//	return nil
//}